<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>aenigma</title>
    <style type="text/css">
      .container-demo {
        margin-top: 70px;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">aenigma</a>
        </div>
        <ul class="nav navbar-nav hidden-xs">
          <li class="active"><a href="javascript:;">Demo</a></li>
          <li><a href="https://github.com/ArminTamzarian/aenigma#installation">Installation</a></li>
          <li><a href="https://ArminTamzarian.github.io/aenigma/docs/">Documentation</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid container-demo">
      <aenigma-demo-view>Loading demo...</aenigma-demo-view>
    </div>

  </body>
</html>
